<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Christchurch</key>
	<string>city.png</string>
	<key>Clifton</key>
	<string>mountain.png</string>
	<key>Riccarton</key>
	<string>city.png</string>
	<key>Sumner</key>
	<string>sea.png</string>
</dict>
</plist>
